td{
    border: 1px solid #000000;
}

table{
    border-collapse: collapse;

}

.background{
    background-color: rgb(245, 228, 196);
}

.footer{
 font-weight:bold;
}


.infoCompte{
    font-family: URW Palladio L, Palatino, sans-serif;
    font-size:38px;
    color:black;
    font-weight:500;

}

